<!DOCTYPE html>
<html lang="ro">
    <head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="educred, red, colector, resurse educaționale, educație">
        <meta name="description" content="O aplicație pentru săpat în documente după informații și date">
        <meta name="generator" content="Ochilă">
        <meta name="creator" content="Kosson">
        <meta name="autor" content="Constantinescu Nicolaie">
        <meta name="publisher" content="Kosson">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta property="dc:title" content="Ochilă">
        <meta property="dc:description" content="O aplicație pentru săpat în documente după informații și date">
        <meta itemprop="name" content="Ochilă">
        <meta itemprop="description" content="O aplicație pentru săpat în documente după informații și date">

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu+Mono|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=latin-ext" rel="stylesheet"> 

        <script src="/socket.io/socket.io.js"></script>
        
        <link rel="stylesheet" href="{{style}}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">

        <title>{{title}}</title>
    </head>
    <body>
        <div class="container">
            {{{body}}}
        </div>

        <footer>
            {{> footer}}
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.slim.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/lib/popper.js/dist/popper.min.js"></script>

        <script src="/js/main.js" charset="utf-8"></script>
        <script src="/js/custom.js" charset="utf-8"></script>
    </body>
</html>